.btn.btn-md{
   font-size: 1.0rem;
}
table td {
   font-size: 1.2rem;
}
table.table a{
  color: #007bff;
}
input[type=text]{
 border-radius: 5px;
}
.border-primary{
  border:3px solid #007bff!important;
}

.sign{
    font-family: 'Cookie', cursive;
}

